<!-- Global Search filter -->
<mat-form-field class="filter btn">
    <mat-label class="filter-text btn-text">Search <mat-icon>search</mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ABC" #input>
</mat-form-field>

<!-- Table content start with sorting -->
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <!-- Table head -->
      <th mat-header-cell mat-sort-header matSortDisableClear *matHeaderCellDef [ngSwitch]="col.key" [ngClass]="{'action-column': col.key === 'isEdit'}" [disabled]="col.key == 'isSelected' || col.key == 'isEdit'">
        <span *ngSwitchCase="'isSelected'">
          <mat-checkbox
            (change)="selectAll($event)"
            [checked]="isAllSelected()"
            [indeterminate]="!isAllSelected() && isAnySelected()"
          ></mat-checkbox>
        </span>
        <span *ngSwitchDefault [ngClass]="{'action-column-align': col.key === 'isEdit'}">{{ col.label }}</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- Table data view -->
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <ng-container *ngSwitchCase="'isSelected'">
            <mat-checkbox
              (change)="element.isSelected = $event.checked"
              [checked]="element.isSelected"
            ></mat-checkbox>
          </ng-container>
          <!-- Row edit and delete option -->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button class="button-edit btn" (click)="editHandler(element.id)">
              <mat-icon class="btn-text" matTooltip="Edit" matTooltipPosition="before">edit</mat-icon>
            </button>
            <button mat-button class="button-remove btn" (click)="removeRow(element.id)">
              <mat-icon class="btn-text" matTooltip="Delete" matTooltipPosition="after">delete</mat-icon>
            </button>
          </div>
          <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
        </div>
        <!-- Table edit view -->
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <div *ngSwitchCase="'isSelected'"></div>
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button class="button-done btn" (click)="editRow(element)" [disabled]="disableSubmit(element.id) || is_disabled">
              <span class="btn-text">Done</span>
            </button>
            <button mat-button class="button-cancel btn" (click)="cancelAddEditRow(element)">
              <span class="btn-text">Cancel</span>
            </button>
          </div>
          <mat-form-field class="form-input" *ngSwitchDefault>
            <input
              matInput
              [required]="col.required"
              [pattern]="col.pattern"
              [type]="col.type"
              [step]="col.step"
              [maxlength]="col.maxlength"
              [(ngModel)]="element[col.key]"
              (change)="inputHandler($event, element.id, col.key)"
            />
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
    </tr>
</table>

<!-- Pagination for table data -->
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>
<!-- Table content end -->